<h1>Welcome to Room Rate!</h1>
<h2 align="baseline">To begin, create an account and sign in.</h2>
<img src="http://www.sas.upenn.edu/elp/sites/www.sas.upenn.edu.elp/themes/upenn_sas/images/header_photo_05.jpg" class="img-polaroid">